<form action="/students" method="POST">
  Name:
  <input type="text" name="name">
  Age:
  <input type="number" name="age">
  Pokemon:
  <input type="text" name="pokemon">
  Favorite Food:
  <input type="text" name="favorite_food">

  <input type="submit">
</form>
