<ul>
  <li>
    Name:
    <input type="text" name="student[name]" value="<%= @student.name %>">
  </li>
  <li>
    Age:
    <input type="number" name="student[age]" value="<%= @student.age %>">
  </li>
  <li>
    Pokemon:
    <input type="text" name="student[pokemon]" value="<%= @student.pokemon %>">
  </li>
  <li>
    Favorite Food:
    <input type="text" name="student[favorite_food]" value="<%= @student.favorite_food %>">
  </li>
</ul>
