<div class="container">
  <header><img src="images/corneal-small.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <marquee><h1>Hash Gang</h1></marquee>

    <div class="content">
      <h3>Welcome to the Dumbo-Web 111918 home page! </h3>
      <p>
        Come here for all your Hash Gang needs!
      </p>
    </div>

    <div class="sidebar">
      <h3>SWBAT</h3>
      <ul>
        <li>* Explain REST</li>
        <li>* Demonstrate how REST is used with CRUD</li>
        <li>* Build out CRUD using Sinatra</li>
      </ul>
    </div>

  </div>
</div>
