
#colors {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
#colors li {
  width: 400px;
  /*height: 200px;*/
  color: #fff;
  font-size: 81px;
  user-select: none;
}
/*#colors li span {
  display: block;
}*/

#colors li button {
  font-size: 50px;
}